*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(36, 101, 187);
}

header{
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    color: white;
    text-align: center;
}

/*
Ajuste no Radio Buttom
*/
.radio-buttom{
    list-style: none;
    margin: 0;
    padding: 0;
}

.radio-buttom:after{
    content: "";
    clear: both;
}

.radio-select{
    float: left;
    position: relative;
}

.radio-buttom,.radio-select{
    margin-left: 25px;
}




img{
    border-radius: 200px;
}

section{
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    text-align: center;
}

footer{
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    color: white;
    text-align: center;
}


